.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.container p {
  text-align: center;
}

.container img {
  width: 100px !important;
}

.cart_container {
  padding: 20px;
}
.cart_container h2,
.cart_container h3 {
  padding: 10px;
}
.cart_container hr {
  margin: 10px;
}
.subTotal {
  margin-top: 100px;
  width: 300px;
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
  /* margin-right: 20px; */
}
.subTotal a {
  text-align: center;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 18px;
  text-decoration: none;
  color: black;
}

.subTotal a:hover {
  background: var(--primary-shade);
}

.subTotal > div,
.subTotal span {
  display: flex;
  gap: 20px;
}

.cart_product {
  display: flex;
  gap: 10px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px 16px;
  font-weight: bold;
  background-color: white;
  border: none;
}

.btn:hover {
  background-color: var(--primary-color);
  border-radius: 9px;
  transition: background-color 0.6s ease;
}

@media screen and (max-width: 968px) {
  .container {
    flex-direction: column;
    order: 1;
  }
  .subTotal {
    margin: 0 auto;
  }
}
